In [1]:
import pandas as pd

In [2]:
def calcPassingGrade(gradesTuple):
    """
    m --> midterm , p --> project , f -- final
    passing grade = midterm * (0.3) + project * (0.3) + final * (0.4)
    """
    m,p,f = gradesTuple[::]
    passingGrade = (m * .3 + p * .3 + f * .4)

    return round(passingGrade,2)

In [3]:
def createStudentsDict():
    """ 
    names --> students name list
    grades --> (midterm, project, final, passing grade) for each student.
    """
    names = [input(f"{i}. Student name: ") for i in range(1,6)]
    grades = []
    for i in range(5):
        m,p,f = input(f"Enter {names[i]}'s midterm, project and final grade (ex. --> 70-90-100): ").split("-")
        m,p,f = float(m), float(p), float(f)
        grades.append((m,p,f))
    studentsDict = {'Names' : names, 'Grades': grades}
    return studentsDict

In [4]:
def createFinalList(studentsDict):
    """
    Function that calculates and sorts students' passing grades.
    """
    finalList = []

    for i in range(5):
        names = studentsDict['Names'][i]
        passingGrade = calcPassingGrade(studentsDict['Grades'][i])
        finalList.append((passingGrade, names))

    finalList.sort(reverse=True)

    return finalList

In [14]:
studentsDict = createStudentsDict()
df = pd.DataFrame.from_dict(studentsDict) #For better visualization
df

1. Student name: John
2. Student name: Adele
3. Student name: Mary
4. Student name: Pam
5. Student name: Steven
Enter John's midterm, project and final grade (ex. --> 70-90-100): 93-67-85
Enter Adele's midterm, project and final grade (ex. --> 70-90-100): 45-50-100
Enter Mary's midterm, project and final grade (ex. --> 70-90-100): 85-63-97
Enter Pam's midterm, project and final grade (ex. --> 70-90-100): 100-77-83
Enter Steven's midterm, project and final grade (ex. --> 70-90-100): 56-63-85

    Names               Grades
0    John   (93.0, 67.0, 85.0)
1   Adele  (45.0, 50.0, 100.0)
2    Mary   (85.0, 63.0, 97.0)
3     Pam  (100.0, 77.0, 83.0)
4  Steven   (56.0, 63.0, 85.0)

In [15]:
studentList = createFinalList(studentsDict)
for student in studentList : 
    print(f"{student[1]} --> Passing Grade: {student[0]}")

Pam --> Passing Grade: 86.3
Mary --> Passing Grade: 83.2
John --> Passing Grade: 82.0
Steven --> Passing Grade: 69.7
Adele --> Passing Grade: 68.5